* {
  padding: 0;
  margin-left: 2.5px;
}
body {
  background-color: #212121;
}
header {
  /* height: 80px;
  width: 100%;
  margin: 0 auto;*/
  border-bottom: 1px solid #ddd;
  padding: 20px;
  /* border-bottom: 1px solid #21adb2; */

  /* box-shadow: inset 10px 2px #21adb2; */
}

header h1 {
  /* font-size: 2rem; */
}
main {
  position: relative;
  top: 10px;
}
#news_section {
  /* overflow: scroll; */
  /* position: relative; */
  /* height: 170px; */
}
#cards {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* width: 200px; */
  /* background: green; */
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.container {
}
#cards::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.card {
  margin: 10px;
}
#search_input {
  background-color: #303134;
  border: 1px solid #21adb2;
  color: #21adb2;
}

#search_input::placeholder {
  color: #21adb2;
}
