/* ======================================= General ======================================= */
* {
  padding: 0;
  margin-left: 2.5px;
  --background-color: #212121;
  --loadcolor: #29c8e5;
  --purple-color: #ab4df4;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-decoration: none;
}

/* added html selector to always keep width and height at 100% no matter size of the screen */
html {
  width: 100%;
  background-color: var(--background-color);
}

body {
  background-color: var(--background-color);
  text-decoration: none;
  height: 100vh;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

/* ======================================= Header ======================================= */
header {
  border-bottom: 2px solid rgba(90, 17, 119, 0.4);
  padding: 20px;
}

.logo_image {
  justify-content: left;
}

.site_name {
  color: #29c8e5;
}

.button {
  background-color: #303134;
  color: #ab4df4;
  border: 1px solid #ab4df4;
  margin-left: 10px;
}

.button:hover {
  background-color: var(--purple-color);
  color: white;
}

.button:active {
  background-color: #303134;
  color: #ab4df4;
  border: 1px solid #ab4df4;
  margin-left: 10px;
}

.blue_title {
  position: absolute;
  transform: translate(-2px, -2%);
  color: #ab4df4;
}

#search_input {
  background-color: #303134;
  border: 1px solid var(--purple-color);
  color: var(--purple-color);
}

#search_input::placeholder {
  color: var(--purple-color);
}

/* Headline/Animations */
.headlines {
  width: 100%;
  white-space: nowrap;
  color: rgb(175, 169, 169);
  display: inline-block;
  animation: horizontal_slide 55s linear infinite;
}

.positive {
  color: rgba(85, 201, 22, 0.65);
}
.negative {
  color: red;
}

@keyframes horizontal_slide {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* Dropdown */
#dropdown {
  display: none;
}

.dropdown-item,
.dropdown-content {
  background-color: var(--background-color);
  color: var(--border);
}

.dropdown-item:hover {
  cursor: pointer;
  background-color: aliceblue;
}

.dropdown-divider {
  background-color: var(--border);
}

/* ======================================= Main ======================================= */
main {
  position: relative;
  top: 10px;
  padding: 20px;
  height: 100%;
  text-decoration: none;
  background-color: var(--background-color);
}

body::-webkit-scrollbar {
  display: none;
}

#banner {
  max-height: 200px;
}

.company_section,
.chart_section,
.market_info,
.about_info,
.NYnews_section {
  background: rgba(255, 255, 255, 0.1);
  color: #ab4df4;
  border-radius: 16px;
}

.subtitle {
  text-decoration: none;
  font-size: 15px;
  font-weight: 100;
}

.bold {
  font-weight: bolder;
}

.title {
  font-weight: 400;
}

/* ======================================= Company Info ======================================= */

.current_price {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0;
  width: fit-content;
  border-radius: 16px;
}

#price {
  margin: 0;
}

.current_price p {
  font-size: 30px;
  text-align: center;
}

.positive span {
  color: rgba(85, 201, 22, 0.65);
}
.negative span {
  color: red;
}

/* ======================================= Chart ======================================= */
#candlestick {
  justify-content: center;
  width: 99%;
}

.chart_section {
  width: 100%;
}

/* ======================================= Market Information ======================================= */
.r {
  display: flex;
  align-items: center;
  float: right;
  font-size: 13px;
}

.more_info p {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.about_info,
.market_info {
  height: fit-content;
}

/* ======================================= News Feed ======================================= */
.NYnews_section {
  padding: 0;
  height: 100%;
}

.news_section {
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}

#news_title_section {
  overflow: hidden;
  padding: 1.25rem;
  margin: 0;
}

#news-wrapper {
  background-color: rgba(181, 181, 181, 0.2);
  border-radius: 16px;
  width: 90%;
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 10px;
}

.tile + .fitHeight {
  height: 100%;
  flex-grow: 0;
}

#cards {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#cards::-webkit-scrollbar {
  display: none;
}

.card {
  margin: 10px;
  border-radius: 16px;
}

.card_section {
  background-color: #383838;
  color: white;
}

.card-image:first-child img {
  border-radius: 16px;
}
.card-content a {
  text-decoration: none;
}

/* Linear Gradient */
.cards_section::before {
  border-radius: 16px;
  content: "";
  justify-content: center;
  position: absolute;
  margin-top: -1px;
  width: 85%;
  height: 60px;
  background: linear-gradient(to top, transparent 10%, rgba(81, 81, 81) 80%);
  z-index: 1;
}

/* .cards_section::after {
  border-radius: 16px;
  /* margin: 0 10px; 
  /* margin-left: -5px; 
  /* display: flex;
  content: "";
  /* justify-content: center; 
  position: absolute;
  width: 85%;
  bottom: 0.6rem;
  /* top: 2px;
  margin: 0 auto;
  height: 60px;
  background: linear-gradient(to bottom, transparent 10%, rgba(81, 81, 81) 80%);
  /* background: red; 
  /* box-shadow: inset 0 22px 12px -12px rgba(0, 0, 0, 0.5); 
  z-index: 1000;
} */

/* ======================================= Loading Animation ======================================= */
#spinmain::before {
  animation: 1s infinite spinner1;
  animation-timing-function: ease-in-out;
  animation-play-state: inherit;
  border: solid 5px #000000;
  border-bottom-color: var(--border);
  border-top-color: var(--border);
  border-left-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  content: "";
  height: 9em;
  width: 9em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

#smallspin::before {
  animation: 1s infinite spinner4;
  animation-timing-function: ease-in-out;
  animation-play-state: inherit;
  border: solid 5px #000000;
  border-bottom-color: var(--loadcolor);
  border-top-color: var(--loadcolor);
  border-left-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  content: "";
  height: 7em;
  width: 7em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-30%, -30%, 0);
  will-change: transform;
}

#smallerspin::before {
  animation: 1s infinite spinner3;
  animation-timing-function: ease-in-out;
  animation-play-state: inherit;
  border: solid 5px #000000;
  border-bottom-color: var(--border);
  border-top-color: var(--border);
  border-left-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  content: "";
  height: 5em;
  width: 5em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-30%, -30%, 0);
  will-change: transform;
}

#smallestspin::before {
  animation: 1s infinite spinner4;
  animation-timing-function: ease-in-out;
  animation-play-state: inherit;
  border: solid 5px #000000;
  border-bottom-color: var(--loadcolor);
  border-top-color: var(--loadcolor);
  border-left-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  content: "";
  height: 3em;
  width: 3em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-30%, -30%, 0);
  will-change: transform;
}

@keyframes spinner1 {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@keyframes spinner2 {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
}

@keyframes spinner3 {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@keyframes spinner4 {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
}

/* ======================================= Modals ======================================= */
.modal-card-head,
.modal-card-body,
.modal-card-foot {
  background-color: rgba(56, 56, 56, 1);
  color: #ab4df4;
  border: none;
}

.modal-card-title {
  color: #ab4df4;
}

/* ======================================= Media Querys ======================================= */
@media screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-wrappers {
    display: flex;
    justify-content: center;
  }

  #banner {
    height: 300px;
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 490px) {
  #banner {
    margin-bottom: 10rem;
  }
}
