* {
  padding: 0;
  margin-left: 2.5px;
  --background-color: #212121;
  --border: #21adb2;
  font-family: "Poppins";
  text-decoration: none;
}
body {
  background-color: var(--background-color);
  text-decoration: none;

  /* height: 100vh; */
}
main {
  position: relative;
  top: 10px;
  padding: 20px;
  /* height: 100vh; */
  text-decoration: none;
}
body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.card-content a {
  text-decoration: none;
}
/* Header */
header {
  /* height: 80px;
  width: 100%;
  margin: 0 auto;*/
  border-bottom: 1px solid #ddd;
  padding: 20px;

  /* border-bottom: 1px solid #21adb2; */
}

#dropdown {
  display: none;
}

.dropdown-item,
.dropdown-content {
  background-color: var(--background-color);
  color: var(--border);
}

.dropdown-item:hover {
  cursor: pointer;
  background-color: aliceblue;
}

.dropdown-divider {
  background-color: var(--border);
}

header h1 {
  /* font-size: 2rem; */
}

/* Main */
main {
  position: relative;
  top: 10px;
  padding: 20px;
}

#banner{
  max-height: 200px;
}

#news_section {
  /* overflow: scroll; */
  /* position: relative; */
  /* height: 170px; */
}
#cards {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* width: 200px; */
  /* background: green; */
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.container {
}
#cards::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.card {
  margin: 10px;
  border-radius: 16px;
}
.card-image img {
  border-radius: 16px 16px 16px 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
#search_input {
  background-color: #303134;
  border: 1px solid var(--border);
  color: var(--border);
}

#search_input::placeholder {
  color: var(--border);
}
/*
  color: rgb(33, 173, 178);
} */
.more_info p {
  /* text-decoration: underline; */
  /* padding-bottom: 1px */
  /* background-color: red; */
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.current_price {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  /* float: right; */
  font-size: 30px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0;
  width: fit-content;
  border-radius: 16px;
}
.current_price p {
  font-size: 30px;
  text-align: center;
}
.green span {
  background-color: rgba(85, 201, 22, 0.65);
}
.red span {
  background-color: rgba(233, 11, 11, 0.744);
}
#candlestick {
  /* display: flex; */
  justify-content: center;
  width: 99%;
  /* padding: 10px; */
}
#news_title_section {
  overflow: hidden;
  /* text-decoration: none; */
}
.news_section {
  overflow: hidden;
}
.subtitle {
  text-decoration: none;
}

.market_info{
  height: fit-content;
}

.about_info,.market_info{
  height: fit-content;
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner{
    height: 300px;
    margin-bottom: 5rem;
  }
}
.company_section,
.chart_section,
.market_info,
.about_info,
.NYnews_section {
  background: rgba(255, 255, 255, 0.1);
  color: rgb(38, 192, 199);
  border-radius: 16px;
}
.company_section {
  /* background: rgba(38, 192, 199, 0.8); */
  /* background-color: rgb(38, 192, 199); */
}
.card_section {
  background: rgba(181, 181, 181, 0.2);
  color: white;
  /* background-color: rgb(181, 181, 181); */
}

.chart_section {
  width: 100%;
}
