* {
  padding: 0;
  margin-left: 2.5px;
  --background-color: #212121;
  --loadcolor: rgba(255, 255, 255, 1);
  --border: #ab4df4;
  font-family: "Poppins";
  text-decoration: none;
}
/* added html selector to always keep width and height at 100% no matter size of the screen */
html {
  /* height: 100%; */
  width: 100%;
  background-color: var(--background-color);
}
body {
  background-color: var(--background-color);
  text-decoration: none;
  height: 100%;
  position: relative;
  width: 100%;

  /* height: 100vh; */
}
main {
  position: relative;
  top: 10px;
  padding: 20px;
  height: 100%;
  text-decoration: none;
  background-color: var(--background-color);
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.card-content a {
  text-decoration: none;
}
/* Header */
header {
  /* height: 80px;
  width: 100%;
  margin: 0 auto;*/
  border-bottom: 2px solid rgba(90, 17, 119, 0.4);
  padding: 20px;

  /* border-bottom: 1px solid #21adb2; */
}
footer {
  position: fixed;
  bottom: 0;
}
#dropdown {
  display: none;
}

.dropdown-item,
.dropdown-content {
  background-color: var(--background-color);
  color: var(--border);
}

.dropdown-item:hover {
  cursor: pointer;
  background-color: aliceblue;
}

.dropdown-divider {
  background-color: var(--border);
}

header h1 {
  /* font-size: 2rem; */
}

/* Main */
main {
  position: relative;
  top: 10px;
  padding: 20px;
}

#banner {
  max-height: 200px;
}

#news_section {
  /* overflow: scroll; */
  /* position: relative; */
  /* height: 170px; */
}
#cards {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* width: 200px; */
  /* background: green; */
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  /* box-shadow: inset 0 90px 40px 0 rgb(0, 0, 0),
    inset 0 90px 0px 0px rgb(255, 255, 255);
  z-index: 1000000; */
}
.container {
}
#cards::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.card {
  margin: 10px;
  border-radius: 16px;
}
.card-image img {
  border-radius: 16px 16px 16px 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
#search_input {
  background-color: #303134;
  border: 1px solid var(--border);
  color: var(--border);
}

#search_input::placeholder {
  color: var(--border);
}
/*
  color: rgb(33, 173, 178);
} */
.more_info p {
  /* text-decoration: underline; */
  /* padding-bottom: 1px */
  /* background-color: red; */
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.current_price {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  /* float: right; */
  font-size: 30px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0;
  width: fit-content;
  border-radius: 16px;
}
.current_price p {
  font-size: 30px;
  text-align: center;
}
.green span {
  background-color: rgba(85, 201, 22, 0.65);
}
.red span {
  background-color: rgba(233, 11, 11, 0.744);
}
#candlestick {
  /* display: flex; */
  justify-content: center;
  width: 99%;
  /* padding: 10px; */
}
#news_title_section {
  overflow: hidden;
  padding: 1.25rem;
  /* padding-left: 1.25rem; */

  /* bottom: 0; */
  /* border-bottom: 1px solid #ffffff; */

  margin: 0;
  /* text-decoration: none; */
  /* background: red; */
}
.news_section {
  overflow: hidden;
}
.subtitle {
  text-decoration: none;
}

.market_info {
  height: fit-content;
}

.about_info,
.market_info {
  height: fit-content;
}

.headlines {
  white-space: nowrap;
  overflow: hidden;
}

.headlines span {
  display: inline-block;
  animation: horizontal_slide 25s linear infinite;
}

@keyframes horizontal_slide {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.bold {
  font-weight: bolder;
}
.positive {
  color: green;
}
.negative {
  color: red;
}
#spinmain::before {
  animation: 2s linear infinite spinner1;
  animation-play-state: inherit;
  border: solid 5px #000000;
  border-bottom-color: var(--loadcolor);
  border-top-color: var(--loadcolor);
  border-left-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  content: "";
  height: 9em;
  width: 9em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

#smallspin::before {
  animation: 2s linear infinite spinner2;
  animation-play-state: inherit;
  border: solid 5px #000000;
  border-bottom-color: var(--loadcolor);
  border-top-color: var(--loadcolor);
  border-left-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  content: "";
  height: 7em;
  width: 7em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-30%, -30%, 0);
  will-change: transform;
}

#smallerspin::before {
  animation: 2s linear infinite spinner3;
  animation-play-state: inherit;
  border: solid 5px #000000;
  border-bottom-color: var(--loadcolor);
  border-top-color: var(--loadcolor);
  border-left-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  content: "";
  height: 5em;
  width: 5em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-30%, -30%, 0);
  will-change: transform;
}

#smallestspin::before {
  animation: 2s linear infinite spinner4;
  animation-play-state: inherit;
  border: solid 5px #000000;
  border-bottom-color: var(--loadcolor);
  border-top-color: var(--loadcolor);
  border-left-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  content: "";
  height: 3em;
  width: 3em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-30%, -30%, 0);
  will-change: transform;
}

@keyframes spinner1 {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@keyframes spinner2 {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
}

@keyframes spinner3 {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@keyframes spinner4 {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner {
    height: 300px;
    margin-bottom: 5rem;
  }
}
.company_section,
.chart_section,
.market_info,
.about_info,
.NYnews_section {
  background: rgba(255, 255, 255, 0.1);
  color: #ab4df4;
  border-radius: 16px;
}

.modal-card-head,
.modal-card-body,
.modal-card-foot {
  background: rgba(255, 255, 255, 0.1);
  color: #ab4df4;
}

.modal-card-title {
  color: #ab4df4;
}

.company_section {
  /* background: rgba(38, 192, 199, 0.8); */
  /* background-color: rgb(38, 192, 199); */
}
.card_section {
  background: rgba(181, 181, 181, 0.2);
  color: white;
  /* background-color: rgb(181, 181, 181); */
}

.chart_section {
  width: 100%;
}
.logo_image {
  justify-content: left;
}
.site_name {
  color: var(--border);
}
/* .notification {
  padding: 0;
} */

.NYnews_section {
  padding: 0;
}
